// Fonts

@font-face {
    font-family: "Airbnb Cereal App Book";
    font-weight: 400;
    font-style: normal;
    src:
        local("Airbnb Cereal App Book"),
        url("../fonts/airbnb-cereal-app-book.woff2") format("woff2"),
        url("../fonts/airbnb-cereal-app-book.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Airbnb Cereal App Medium";
    font-weight: 500;
    font-style: normal;
    src:
        local("Airbnb Cereal App Medium"),
        url("../fonts/airbnb-cereal-app-medium.woff2") format("woff2"),
        url("../fonts/airbnb-cereal-app-medium.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Airbnb Cereal App Bold";
    font-weight: 700;
    font-style: normal;
    src:
        local("Airbnb Cereal App Bold"),
        url("../fonts/airbnb-cereal-app-bold.woff2") format("woff2"),
        url("../fonts/airbnb-cereal-app-bold.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Eksell Display Medium";
    font-weight: 500;
    font-style: normal;
    src:
        local("Eksell Display Medium"),
        url("../fonts/ekselldisplaytrial-medium.woff2") format("woff2"),
        url("../fonts/ekselldisplaytrial-medium.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Eksell Display Small";
    font-weight: 550;
    font-style: normal;
    src:
        local("Eksell Display Small"),
        url("../fonts/ekselldisplaytrial-small.woff2") format("woff2"),
        url("../fonts/ekselldisplaytrial-small.woff") format("woff");
    font-display: swap;
}
