// Global styles */

body {
	@include airbnbCerealAppBook-400;
	font-size: 1rem; // 16px
	color: $defaultColor;
	line-height: 1.75;
	//  font-family: 'Roboto', sans-serif;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 0.9375rem; // 0 15px
}

.btn {
	font-weight: 700;
	color: $whiteColor;
	text-align: center;
	font-style: normal;
	line-height: 1.12; /* 112.5% */
	background-color: $accentColor;
	border-radius: 0.625rem;
	padding: 1rem 1.8125rem;
	cursor: pointer;
	border: none;
}

.logo-img {
	width: 106px;
	height: 45px;
}

.title {
	@include airbnbCerealAppMedium-500;
	color: $greenColor;
	font-size: 1rem;
	margin-bottom: 10px;
}

select {
	border: none;
}

.subtitle {
	@include eksellDisplayMedium-500;
	font-size: 42px;
	color: $defaultColor;
	line-height: 123.8%;
	letter-spacing: normal;
	margin-bottom: 20px;
}

.header-menu__burger-btn {
	border: none;
	display: none;
	background-color: $accentColor;
	border-radius: 10px;
	width: 50px;
	height: 50px;
	padding: 0;
	flex-direction: column;
	justify-content: center;
	gap: 5px;
	align-items: center;
}

.burger-btn__item {
	height: 2px;
	width: 80%;
	background-color: $whiteColor;
}
