// Styles for adaptive
// max-width: 1212px
@media (max-width: 1215px) {
	.locations {
		&__slider {
			width: 970px;
		}
		&__slider-img {
			max-width: 300px;
		}
		&__slider-box {
			width: 250px;
			left: -57px;
			right: 0;
		}
		&__swiper-button {
			right: 40px;
		}
	}
}

// max-width: 1024px
@media (max-width: 1024px) {
	.about {
		margin-top: 0;
		&__inner {
			display: block;
		}
		&__item-img {
			max-width: 400px;
			width: 100%;
		}
		&__item-imgbox {
			margin-top: 1.875rem;
			text-align: center;
		}
		&__indicators {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

// max-width: 1000px
@media (max-width: 1000px) {
	.promo {
		&__inner {
			flex-direction: column;
		}
		&__item-subtitle.subtitle {
			font-size: 3.125rem;
		}
	}
	.subtitle {
		font-size: 2.1875rem;
	}
	.locations__slider {
		width: 650px;
	}
	.guideline {
		background-position: left center;
	}
}

// max-width: 860px
@media (max-width: 860px) {
	.promo {
		&__nav-link,
		&__nav-btn-link {
			font-size: 1rem;
		}
	}
	.feed__slider.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
		max-width: 800px;
		width: 100%;
		margin-left: 0;
		text-align: center;
	}
}

@media (max-width: 840px) {
	.guideline {
		height: 50vh;
		position: relative;
		&__inner {
			position: absolute;
			top: -59%;
		}
		&__decor-1 {
			display: none;
		}
	}
	.about {
		margin-top: 0;
	}
}

// max-width: 800px
@media (max-width: 800px) {
	.promo {
		&__nav-item {
			margin-left: 1.25rem;
		}
		&__nav-btn {
			padding: 3.375rem 2.25rem 3.375rem;
			max-width: 110px;
		}
	}
}

// max-width: 750px
@media (max-width: 750px) {
	.header-menu {
		order: 1;
		&__list {
			width: 300px;
			background: rgba(0, 34, 72, 0.3);
			backdrop-filter: blur(10px);
			color: $whiteColor;
			flex-direction: column;
			gap: 40px 0;
			padding: 2.5rem 1.25rem;
			border: 4px solid $whiteColor;
			border-bottom-right-radius: 10px;
			border-top-right-radius: 10px;
			text-transform: uppercase;
			align-items: center;
			position: absolute;
			top: 90px;
			left: 0;
			transform: translateX(-200%);
			transition: transform 0.5s ease;
			&.menu--open {
				transform: translateX(0%);
			}
		}
		&__burger-btn {
			display: flex;
		}
	}
	.link {
		line-height: 1.2;
		text-align: center;
		font-size: 1rem;
	}
	.promo__image {
		max-width: 500px;
		width: 100%;
	}
	.steps {
		padding-top: 100px;
		&__inner {
			flex-direction: column;
			margin-top: 3.125rem;
		}
		&__item {
			padding: 1.25rem;
		}
		&__title {
			margin-top: 3.125rem;
		}
	}
	.locations {
		padding: 6.25rem 0;
		&__text {
			padding-bottom: 6.25rem;
		}
		&__swiper-button {
			top: 0;
			bottom: 40%;
			left: 0;
			right: auto;
		}
	}
	.footer {
		&__inner {
			flex-direction: column;
			gap: 30px 0;
		}
		&__top-menu {
			order: 0;
		}
	}
}

// max-width: 720px
@media (max-width: 720px) {
	.contacts {
		&__inner {
			flex-wrap: wrap;
		}
		&__item-img {
			margin-top: 1.875rem;
			max-width: 400px;
			width: 100%;
		}
	}
	.feed {
		padding-top: 3.125rem;
		padding-bottom: 0;
	}
	.testimonials {
		padding-top: 3.125rem;
		padding-bottom: 0;
	}
	.about {
		padding: 6.25rem 0 3.125rem;
	}
}

@media (max-width: 685px) {
	.guideline {
		background-image: url(../images/guideline-bg2.webp);
		&__decor-2 {
			display: none;
		}
		&__inner {
			flex-direction: column;
			top: -105%;
			gap: 190px;
			margin-left: 0;
		}
		&__item {
			text-align: center;
		}
	}
	.about {
		margin-top: 300px;
	}
}

// max-width: 650px
@media (max-width: 650px) {
	.locations__slider {
		width: 320px;
		margin: 0 auto;
	}
}

// max-width: 560px
@media (max-width: 560px) {
	.promo {
		&__nav-link,
		&__nav-btn-link,
		&__subnav-link {
			font-size: 0.875rem;
		}
		&__subnav-link {
			width: 140px;
		}
	}
	.testimonials {
		&__inner {
			width: 100%;
		}
		&__blockquote {
			padding: 5rem 1.25rem;
			width: 100%;
		}
		&__slider-item {
			max-width: 300px;
			width: 100%;
		}
		&__slider {
			width: 340px;
		}
	}
	.testimonials__avatar-img {
		margin-left: 30px;
	}
}

// max-width: 500px
@media (max-width: 500px) {
	.promo {
		&__nav-list {
			flex-direction: column;
		}
		&__nav-item {
			padding: 1.875rem 0;
			margin: 0 auto;
		}
		&__nav-btn-link {
			top: 1.625rem;
		}
		&__subnav-list {
			z-index: 100;
		}
		&__nav {
			bottom: -15.625rem;
			padding: 1.25rem;
		}
		&__nav-btn {
			border-radius: 0.625rem;
			width: 100%;
		}
	}
	.steps {
		padding-top: 250px;
		padding-bottom: 50px;
		&__item-title {
			padding-top: 1.25rem;
		}
	}
	.subtitle {
		font-size: 1.5625rem;
	}
	p,
	.steps__item-text {
		font-size: 0.875rem;
	}
	.steps__item-img {
		width: 100px;
		height: 100px;
	}
	.guideline {
		&__inner {
			flex-direction: column;
			top: -759px;
			gap: 55px;
		}
		&__item {
			text-align: center;
		}
		&__item {
			position: relative;
			height: 50vh;
		}
	}
	.videobtn-img {
		width: 120px;
		height: 120px;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		top: 50%;
		transform: translateY(-50%);
	}
	.about {
		margin-top: 270px;
		&__item-textbox {
			flex-basis: none;
			width: 100%;
		}
	}
	.btn {
		padding: 0.625rem 1.25rem;
	}
	.header-menu__burger-btn {
		width: 45px;
		height: 37px;
	}
	.locations {
		padding: 50px 0;
	}
}

@media (max-width: 480px) {
	.footer__top-list {
		flex-direction: column;
		text-align: center;
		gap: 10px 0;
	}
}

// max-width: 460px
@media (max-width: 460px) {
	.promo {
		&__item-subtitle.subtitle {
			font-size: 2.1875rem;
		}
		&__item-text,
		&__btn-box {
			margin-top: 1.5625rem;
		}
	}
	.btn {
		font-size: 0.875rem;
	}
	.subtitle {
		margin-bottom: 0.625rem;
	}
	.steps__item-img {
		width: 60px;
		height: 60px;
	}
}

@media (max-width: 400px) {
	.footer__inner {
		flex-direction: column;
		gap: 1.875rem 1.25rem;
	}
}
