@import 'vars';
@import 'fonts';
@import 'optimize';
@import 'libs';
@import 'global';

.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 100px;
        padding: 25px 0;
    }
    &__logo-img {
        margin-bottom: -12px;
    }
}

.header-menu {
    &__list {
        display: flex;
        align-items: center;
        gap: 0 40px;
        line-height: 1.12px;

    }
}


@import 'media';