@import 'vars';
@import 'fonts';
@import 'optimize';
@import 'libs';
@import 'global';

// Header
.header {
	background-color: $lightGreyColor;
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 100px;
		padding: 25px 0;
	}
	&__logo-img {
		margin-bottom: -12px;
	}
}

.header-menu {
	&__list {
		display: flex;
		align-items: center;
		gap: 0 40px;
		line-height: 1.12px;
	}
	&__btn {
		font-weight: 500;
	}
}
// END/ Header

// section Promo
.promo {
	background-color: $lightGreyColor;
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 0 78px;
		padding: 44px 0 145px;
	}
	&__image {
		object-fit: cover;
		width: 589px;
		height: 100%;
	}
	&__item-subtitle {
		@include eksellDisplaySmall-550;
		font-size: 60px;
		line-height: 120%;
	}
	&__item-text {
		line-height: 175%;
	}
	&__btn-box {
		margin-top: 50px;
	}
	&__nav-wrapper {
		position: relative;
	}
	&__nav {
		max-width: 980px;
		width: 100%;
		margin: 0 auto;
		background-color: $whiteColor;
		filter: drop-shadow(0px 40px 170px rgba(0, 34, 72, 0.07));
		border-radius: 20px;
		position: absolute;
		bottom: -60px;
	}
	&__nav-list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include airbnbCerealAppMedium-500;
	}
	&__nav-item {
		position: relative;
		margin-left: 70px;
		background-color: $whiteColor;
	}
	&__nav-item:hover .promo__subnav-list {
		opacity: 1;
		visibility: visible;
		background-color: $whiteColor;
		opacity: 0;
		transform: translateY(-150%);
		animation: ani 1s forwards;
	}
	&__nav-link {
		font-size: 20px;
		position: relative;
		background-color: transparent;
		z-index: 10;
		&::after {
			position: absolute;
			content: '';
			width: 16px;
			height: 16px;
			top: 50%;
			transform: translateY(-50%);
			right: -25px;
			background-image: url(../images/icons/chevron-down.svg);
			background-repeat: no-repeat;
		}
	}
	&__subnav-list {
		position: absolute;
		top: 100%;
		left: 0;
		padding-top: 10px;
		opacity: 0;
		visibility: hidden;
	}
	&__nav-btn {
		background-color: $accentColor;
		height: 100%;
		padding: 60px 60px 70px;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		max-width: 210px;
		width: 100%;
	}
	&__subnav-link {
		@include airbnbCerealAppBook-400;
		font-size: 1rem;
		color: $greyColor;
		background-color: $whiteColor;
		padding: 10px;
		display: block;
		width: 200px;
		border-bottom-right-radius: 20px;
		border-bottom-left-radius: 20px;
		filter: drop-shadow(0px 40px 170px rgba(0, 34, 72, 0.07));
	}

	&__subnav-link:hover {
		color: $accentColor;
		transition: all 0.3s ease;
	}

	&__nav-btn-link {
		font-size: 18px;
		position: absolute;
		top: 60px;
		left: 0;
		right: 0;
		text-align: center;
		padding-top: 10px;
		color: $whiteColor;
		&::before {
			position: absolute;
			content: '';
			width: 22px;
			height: 24px;
			top: -20px;
			left: 0;
			right: 0;
			margin: 0 auto;
			background-image: url(../images/icons/calendar.svg);
			background-repeat: no-repeat;
		}
	}
}

// Animation for room booking pop-up list
@keyframes ani {
	0% {
		transform: translateY(-15%);
	}
	100% {
		transform: translateY(0);
	}
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
// END/ section Promo

// setion Steps
.steps {
	padding-bottom: 120px;
	&__top {
		text-align: center;
		max-width: 568px;
		margin: 0 auto;
	}
	&__title {
		margin-top: 192px;
	}
	&__text {
		color: $greyColor;
		line-height: 175%;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		gap: 30px;
		margin-top: 70px;
	}
	&__item {
		text-align: center;
		border: 2px solid $lightGreyColor;
		border-radius: 10px;
		padding: 60px 25px 70px;
	}
	&__item-title {
		font-size: 20px;
		font-weight: 500;
		line-height: 140%;
		padding-top: 47px;
	}
	&__item-text {
		font-size: 1rem;
		font-weight: 400;
		color: $greyColor;
		padding-top: 20px;
	}
}

// Locations
.locations {
	background-color: $lightGreyColor;
	padding: 120px 0;
	&__top {
		position: relative;
	}
	&__text {
		padding-bottom: 70px;
	}
	&__slider {
		width: 1180px;
		overflow: hidden;
	}
	&__slider-img {
		border-radius: 10px;
		border: 6px solid #fff;
		max-width: 370px;
		width: 100%;
	}
	&__slider-item {
		position: relative;
		width: 370px;
	}
	&__slider-box {
		position: absolute;
		bottom: 32px;
		left: 28px;
		right: 30px;
		margin: 0 auto;
		padding: 23px 20px;
		width: 285px;
		display: flex;
		justify-content: space-between;
		border-radius: 10px;
		border: 1px solid $grey2Color;
		background: rgba(0, 34, 72, 0.3);
		backdrop-filter: blur(10px);
		color: $whiteColor;
		font-weight: 500;
		line-height: 175%;
	}
	&__slider-title {
		@include eksellDisplayMedium-500;
		font-size: 20px;
		line-height: 100%;
	}
	&__slider-price {
		font-size: 20px;
		line-height: 120%;
	}
	&__swiper-button {
		content: '';
		position: absolute;
		top: 18%;
		left: auto;
		right: 0;
		width: 130px;
	}
}
.swiper-button-prev {
	width: 50px;
	height: 50px;
	background-image: url(../images/arrow-prev.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

.swiper-button-next {
	width: 50px;
	height: 50px;
	background-image: url(../images/arrow-prev.svg);
	background-repeat: no-repeat;
	background-size: cover;
	transform: rotate(180deg);
}

.guideline {
	background-image: url(../images/guideline-bg.webp);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	position: relative;
	&__inner {
		display: flex;
		justify-content: space-between;
		margin-left: 62px;
		transform: translateY(100%);
		align-items: center;
	}
	&__item {
		width: 462px;
	}
	&__item-videobtn {
		background-color: transparent;
		border: none;
	}
	&__text {
		margin-bottom: 50px;
	}
	&__decor-1,
	&__decor-2 {
		position: absolute;
		bottom: -8%;
	}

	&__decor-1 {
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	&__decor-2 {
		left: auto;
		right: 0;
	}

	&__btn {
		font-weight: 700;
		line-height: 125%;
	}
}

.videobtn-img {
	width: 120px;
	height: 120px;
}

// About
.about {
	padding: 120px 0;
	&__inner {
		display: flex;
		justify-content: space-between;
		gap: 20px;
	}
	&__item-textbox {
		flex-basis: 512px;
	}
	&__indicators {
		margin-top: 50px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 26px 13px;
		width: 313px;
	}
	&__indicators-item {
		border-radius: 10px;
		border: 2px solid $lightGreyColor;
		padding: 32px 54px;
		text-align: center;
	}
	&__indicators-value {
		font-size: 32px;
		@include eksellDisplaySmall-550;
		line-height: 106.25%;
	}
}

// Testimonials
.testimonials {
	padding-top: 120px;
	padding-bottom: 50px;
	text-align: center;
	background-color: $lightGreyColor;

	&__inner {
		width: 590px;
		margin: 0 auto;
	}
	&__slider {
		width: 500px;
		overflow: hidden;
		margin: 0 auto;
	}
	&__wrapper {
		background-image: url(../images/testimonials-bg.webp);
		background-repeat: no-repeat;
		background-position: center center;
		padding: 70px 0 120px;
		position: relative;
	}

	&__slider-text {
		font-size: 14px;
		line-height: 171%;
		padding-bottom: 14px;
	}
	&__avatar-img {
		border: 2px solid $whiteColor;
		border-radius: 50%;
		width: 98px;
		height: 98px;
		margin-bottom: 30px;
	}
	&__blockquote {
		border-radius: 10px;
		background: $whiteColor;
		padding: 80px 50px 30px;
		position: relative;
	}
	&__blockquote::before {
		position: absolute;
		content: '';
		width: 30px;
		height: 30px;
		top: 30px;
		left: 0;
		right: 0;
		margin: 0 auto;
		background-image: url(../images/icons/quotation.svg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	&__author {
		font-size: 12px;
		font-weight: 700;
		color: $defaultColor;
		font-style: normal;
		display: block;
		line-height: 150%;
	}
	&__span {
		font-size: 10px;
		color: $greyColor;
		line-height: 140%;
	}
}

// Pagination for slider .testimonials__slider
.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
	bottom: 60px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
	width: 20px;
	border-radius: 6px;
}

// Feed
.feed {
	padding: 120px 0;
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 60px;
		width: 100%;
	}
	&__item-textbox {
		width: 462px;
	}
	&__slider-img {
		width: 320px;
		height: 456px;
	}
	&__slider-img.border-radius-10 {
		border-radius: 10px;
	}
	&__slider-img.border-radius-50 {
		border-radius: 160px;
	}
}

.feed__slider.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
	margin: 0 auto;
	overflow: hidden;
	margin-left: -130px;
}

@import 'media';
